<h1>Hi, <%= @user.display_name %>!</h1>

<p>Choose a playlist to analyze:</p>
<ul>
	<% for playlist in @playlists %>
		<li><%= link_to playlist.name, action: 'show_playlist', id: playlist.id %></li>
	<% end %>
</ul>
<p>Or analyze <%= link_to 'My Saved Tracks', action: 'show_saved_tracks' %></p>
